@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://rsms.me/inter/inter.css");

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body,
html {
  font-family: "Inter", sans-serif;
  background: hsl(0, 0%, 0%);
}

.flameWidth {
  width: 100%;
}

.cloud1 {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: cloud1floating;
  animation-name: cloud1floating;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 1;
  -webkit-transition: margin 2s cubic-bezier(0.2, 0.6, 0.3, 1), opacity 2s ease;
  transition: margin 2s cubic-bezier(0.2, 0.6, 0.3, 1), opacity 2s ease;
  animation-duration: 6s;
  position: absolute;
}

@keyframes cloud1floating {
  0% {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }

  100% {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
}

.cloud2 {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: cloud2floating;
  animation-name: cloud2floating;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 1;
  -webkit-transition: margin 1s cubic-bezier(0.2, 0.6, 0.3, 1), opacity 2s ease;
  transition: margin 2s cubic-bezier(0.2, 0.6, 0.3, 1), opacity 2.5s ease;
  animation-duration: 10s;
  position: absolute;
}

@keyframes cloud2floating {
  0% {
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
}

.btnShadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  /* background: rgba(255, 255, 255, 0.8); */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Hide Calendar Icon In Chrome */
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  -webkit-appearance: none;
}

/* input[type=date]::placeholder,
 input[type=time]::placeholder {
     font-family: 'Roboto';
     font-size  : 17px;
     font-style : normal;
     font-weight: 400;
 } */

.errorMessage {
  background-color: white;
  width: 143px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 107px;
  visibility: hidden;
  border-radius: 10px;
  position: relative;
  float: left;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.collapsible {
  overflow: hidden;
  transition: height 0.2s ease-in-out;
}

html,
body {
  padding: 0;
  margin: 0;

  /* font-family: 'Inter' !important; */
  color: white;
}

/* we need to preload partners imgs to avoid blinking */

body::after {
  display: none;
  content: url("../public/v2imgs/circle_hover.png")
    url("../public/v2imgs/labs_hover.png")
    url("../public/v2imgs/flowBay_hover.png")
    url("../public/v2imgs/headDao_hover.png")
    url("../public/v2imgs/hashEx_hover.png")
    url("../public/v2imgs/kryptoGO_hover.png")
    url("../public/v2imgs/ceres_hover.png")
    url("../public/v2imgs/router_hover.png");
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  margin: 0;
  padding: 0;
}

.text-center {
  text-align: center;
}

.purpleGrey {
  color: #8f97a3;
  font-weight: 600 !important;
}

.purple {
  color: #752ee5;
  font-weight: 600 !important;
}

.linksColor {
  color: #752ee5;
}

.purple:hover,
.linksColor:hover {
  /* border-bottom:1px solid #755EE5; */
  text-decoration: underline !important;
}

.m-0 {
  margin: 0px !important;
}

input {
  position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background-position: right;
  background-size: auto;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: auto;
}

.empty-date-cont input[type="date"]:not(.has-value):before {
  color: lightgray;
  content: attr(placeholder);
}

input[type="date"]:focus::before {
  content: none;
}

.non-empty-date input[type="date"]:disabled::before {
  content: none;
}

.empty-date input[type="date"]:disabled::before {
  content: attr(data-placeholder);
  width: 100%;
}
.page-bg {
  background: linear-gradient(180deg, #44334c 0%, #1e1722 100%);
}
.tvl-bg {
  background: linear-gradient(
    101.67deg,
    rgba(24, 20, 27, 0.3) 0%,
    #18141b 32.81%,
    #18141b 66.67%,
    rgba(24, 20, 27, 0.3) 100%
  );
}

/* mobile btn positions */

@media (max-width: 768px) {
  .news-btn {
    top: 168px;
  }
  .learn-btn {
    top: 232px;
  }
  .reflector-btn {
    top: 296px;
  }
  .demo-btn {
    top: 360px;
  }
  .pass-btn {
    top: 424px;
  }
}
@media (max-height: 700px) {
  .news-btn {
    top: 118px;
  }
  .learn-btn {
    top: 182px;
  }
  .reflector-btn {
    top: 246px;
  }
  .demo-btn {
    top: 310px;
  }
  .pass-btn {
    top: 374px;
  }

}
.connect-btn button, .connect-btn div{
width: 100% !important;
height: 100% !important;
background-color: transparent !important;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
}
.nav-mobile-link a{
  width: 100%;
}
.ju367v1n{
  width: 100% !important;
}
._12cbo8i6{
  background-color: transparent !important;
  padding: 0 !important;
  text-align: center !important;
  width: 100% !important;
}
.ju367v9x{
  width: 100% !important;
  background-color: transparent !important;
  border: none !important;
  color: #ffffff !important;
}
.ju367vcf{
  border: none !important;
  color: #ffffff !important;
}